<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Customtab>
            <version>0.1.0</version>
        </Tatva_Customtab>
    </modules>
    <frontend>
        <routers>
            <customtab>
                <use>standard</use>
                <args>
                    <module>Tatva_Customtab</module>
                    <frontName>customtab</frontName>
                </args>
            </customtab>
        </routers>
        <layout>
            <updates>
                <customtab>
                    <file>customtab.xml</file>
                </customtab>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<customtab>
				<use>admin</use>
				<args>
					<module>Tatva_Customtab</module>
					<frontName>customtab</frontName>
				</args>
			</customtab>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<customtab module="customtab">
				<title>Customtab</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="customtab">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>customtab/adminhtml_customtab</action>
					</items>
				</children>
			</customtab>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Tatva_Customtab>
							<title>Customtab Module</title>
							<sort_order>10</sort_order>
						</Tatva_Customtab>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customtab>
					<file>customtab.xml</file>
				</customtab>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <customtab>
                <class>Tatva_Customtab_Model</class>
                <resourceModel>customtab_mysql4</resourceModel>
            </customtab>
            <customtab_mysql4>
                <class>Tatva_Customtab_Model_Mysql4</class>
                <entities>
                    <customtab>
                        <table>customtab</table>
                    </customtab>
                </entities>
            </customtab_mysql4>
        </models>
        <resources>
            <customtab_setup>
                <setup>
                    <module>Tatva_Customtab</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customtab_setup>
            <customtab_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customtab_write>
            <customtab_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customtab_read>
        </resources>
        <blocks>
            <customtab>
                <class>Tatva_Customtab_Block</class>
            </customtab>
        </blocks>
        <helpers>
            <customtab>
                <class>Tatva_Customtab_Helper</class>
            </customtab>
        </helpers>
    </global>
</config>