<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Orderreport>
            <version>0.1.0</version>
        </Tatva_Orderreport>
    </modules>
    <frontend>
        <routers>
            <orderreport>
                <use>standard</use>
                <args>
                    <module>Tatva_Orderreport</module>
                    <frontName>orderreport</frontName>
                </args>
            </orderreport>
        </routers>
        <layout>
            <updates>
                <orderreport>
                    <file>orderreport.xml</file>
                </orderreport>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<orderreport>
				<use>admin</use>
				<args>
					<module>Tatva_Orderreport</module>
					<frontName>orderreport</frontName>
				</args>
			</orderreport>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<orderreport module="orderreport">
				<title>Orderreport</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="orderreport">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>orderreport/adminhtml_orderreport</action>
					</items>
				</children>
			</orderreport>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Tatva_Orderreport>
							<title>Orderreport Module</title>
							<sort_order>10</sort_order>
						</Tatva_Orderreport>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<orderreport>
					<file>orderreport.xml</file>
				</orderreport>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <orderreport>
                <class>Tatva_Orderreport_Model</class>
                <resourceModel>orderreport_mysql4</resourceModel>
            </orderreport>
            <orderreport_mysql4>
                <class>Tatva_Orderreport_Model_Mysql4</class>
                <entities>
                    <orderreport>
                        <table>orderreport</table>
                    </orderreport>
                </entities>
            </orderreport_mysql4>
        </models>
        <resources>
            <orderreport_setup>
                <setup>
                    <module>Tatva_Orderreport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderreport_setup>
            <orderreport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderreport_write>
            <orderreport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderreport_read>
        </resources>
        <blocks>
            <orderreport>
                <class>Tatva_Orderreport_Block</class>
            </orderreport>
        </blocks>
        <helpers>
            <orderreport>
                <class>Tatva_Orderreport_Helper</class>
            </orderreport>
        </helpers>
    </global>
</config>