<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Attachpdf>
            <version>0.1.0</version>
        </Tatva_Attachpdf>
    </modules>
    <frontend>
        <routers>
            <attachpdf>
                <use>standard</use>
                <args>
                    <module>Tatva_Attachpdf</module>
                    <frontName>attachpdf</frontName>
                </args>
            </attachpdf>
        </routers>
        <layout>
            <updates>
                <attachpdf>
                    <file>attachpdf.xml</file>
                </attachpdf>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <attachpdf>
                <class>Tatva_Attachpdf_Block</class>
            </attachpdf>
        </blocks>
    </global>
</config>