<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Promotionalbanner>
            <version>0.1.0</version>
        </Tatva_Promotionalbanner>
    </modules>
    <frontend>
        <routers>
            <promotionalbanner>
                <use>standard</use>
                <args>
                    <module>Tatva_Promotionalbanner</module>
                    <frontName>promotionalbanner</frontName>
                </args>
            </promotionalbanner>
        </routers>
        <layout>
            <updates>
                <promotionalbanner>
                    <file>promotionalbanner.xml</file>
                </promotionalbanner>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<promotionalbanner>
				<use>admin</use>
				<args>
					<module>Tatva_Promotionalbanner</module>
					<frontName>promotionalbanner</frontName>
				</args>
			</promotionalbanner>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<promotionalbanner module="promotionalbanner">
				<title>Promotionalbanner</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="promotionalbanner">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>promotionalbanner/adminhtml_promotionalbanner</action>
					</items>
				</children>
			</promotionalbanner>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Tatva_Promotionalbanner>
							<title>Promotionalbanner Module</title>
							<sort_order>10</sort_order>
						</Tatva_Promotionalbanner>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<promotionalbanner>
					<file>promotionalbanner.xml</file>
				</promotionalbanner>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <promotionalbanner>
                <class>Tatva_Promotionalbanner_Model</class>
                <resourceModel>promotionalbanner_mysql4</resourceModel>
            </promotionalbanner>
            <promotionalbanner_mysql4>
                <class>Tatva_Promotionalbanner_Model_Mysql4</class>
                <entities>
                    <promotionalbanner>
                        <table>promotionalbanner</table>
                    </promotionalbanner>
                </entities>
            </promotionalbanner_mysql4>
        </models>
        <resources>
            <promotionalbanner_setup>
                <setup>
                    <module>Tatva_Promotionalbanner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promotionalbanner_setup>
            <promotionalbanner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promotionalbanner_write>
            <promotionalbanner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promotionalbanner_read>
        </resources>
        <blocks>
            <promotionalbanner>
                <class>Tatva_Promotionalbanner_Block</class>
            </promotionalbanner>
        </blocks>
        <helpers>
            <promotionalbanner>
                <class>Tatva_Promotionalbanner_Helper</class>
            </promotionalbanner>
        </helpers>
    </global>
</config>