<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Downloadablereport>
            <version>0.1.0</version>
        </Tatva_Downloadablereport>
    </modules>
    <frontend>
        <routers>
            <downloadablereport>
                <use>standard</use>
                <args>
                    <module>Tatva_Downloadablereport</module>
                    <frontName>downloadablereport</frontName>
                </args>
            </downloadablereport>
        </routers>
        <layout>
            <updates>
                <downloadablereport>
                    <file>downloadablereport.xml</file>
                </downloadablereport>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<downloadablereport>
				<use>admin</use>
				<args>
					<module>Tatva_Downloadablereport</module>
					<frontName>downloadablereport</frontName>
				</args>
			</downloadablereport>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<downloadablereport module="downloadablereport">
				<title>Downloadablereport</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="downloadablereport">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>downloadablereport/adminhtml_downloadablereport</action>
					</items>
				</children>
			</downloadablereport>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Tatva_Downloadablereport>
							<title>Downloadablereport Module</title>
							<sort_order>10</sort_order>
						</Tatva_Downloadablereport>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<downloadablereport>
					<file>downloadablereport.xml</file>
				</downloadablereport>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <downloadablereport>
                <class>Tatva_Downloadablereport_Model</class>
                <resourceModel>downloadablereport_mysql4</resourceModel>
            </downloadablereport>
            <downloadablereport_mysql4>
                <class>Tatva_Downloadablereport_Model_Mysql4</class>
                <entities>
                    <downloadablereport>
                        <table>downloadablereport</table>
                    </downloadablereport>
                </entities>
            </downloadablereport_mysql4>
        </models>
        <resources>
            <downloadablereport_setup>
                <setup>
                    <module>Tatva_Downloadablereport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </downloadablereport_setup>
            <downloadablereport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </downloadablereport_write>
            <downloadablereport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </downloadablereport_read>
        </resources>
        <blocks>
            <downloadablereport>
                <class>Tatva_Downloadablereport_Block</class>
            </downloadablereport>
        </blocks>
        <helpers>
            <downloadablereport>
                <class>Tatva_Downloadablereport_Helper</class>
            </downloadablereport>
        </helpers>
    </global>
</config>