<?xml version="1.0"?>
<config>
    <modules>
        <Tatva_Press>
            <version>0.1.2</version>
        </Tatva_Press>
    </modules>
    <frontend>
        <routers>
            <press>
                <use>standard</use>
                <args>
                    <module>Tatva_Press</module>
                    <frontName>press</frontName>
                </args>
            </press>
        </routers>
        <layout>
            <updates>
                <press>
                    <file>press.xml</file>
                </press>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<press>
				<use>admin</use>
				<args>
					<module>Tatva_Press</module>
					<frontName>press</frontName>
				</args>
			</press>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<press module="press">
				<title>Press</title>
				<sort_order>90</sort_order>               
				<children>
					<items module="press">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>press/adminhtml_press</action>
					</items>
				</children>
			</press>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
    					<children>
    						<Tatva_Press>
    							<title>Press Module</title>
    							<sort_order>10</sort_order>
    						</Tatva_Press>
    					</children>
    					<system>
           					<children>
           						<config>
           							<children>
           								<press translate="title" module="press">
           									<title>Press</title>
           								</press>
           							</children>
           						</config>
           					</children>
           				</system>
                    </children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<press>
					<file>press.xml</file>
				</press>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <press>
                <class>Tatva_Press_Model</class>
                <resourceModel>press_mysql4</resourceModel>
            </press>
            <press_mysql4>
                <class>Tatva_Press_Model_Mysql4</class>
                <entities>
                    <press>
                        <table>press</table>
                    </press>
					<press_store>
                        <table>press_store</table>
                    </press_store>
                </entities>
            </press_mysql4>
        </models>
        <resources>
            <press_setup>
                <setup>
                    <module>Tatva_Press</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </press_setup>
            <press_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </press_write>
            <press_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </press_read>
        </resources>
        <blocks>
            <press>
                <class>Tatva_Press_Block</class>
            </press>
        </blocks>
        <helpers>
            <press>
                <class>Tatva_Press_Helper</class>
            </press>
        </helpers>
    </global>
	<default>
        <press>
            <press>
                <enable>1</enable>                
				<displayvideo>1</displayvideo>
				<videoheight>600</videoheight>
				<videowidth>700</videowidth>
				<displaypdf>1</displaypdf>
				<displaytext>1</displaytext>
				<displayimage>1</displayimage>
				<imagewidth>500</imagewidth>
				<imageheight>400</imageheight>
            </press>
        </press>
    </default>
</config>